<html>
    <head>

    </head>
    <body>
        <ul id="chatbox">

        </ul>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script src='./js/main.js'></script>
    </body>
</html>