<html>
    <head>
        <title>MUD.js - Home</title>
        <link rel="stylesheet" href="./css/chat.css">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.ico">
    </head>
    <body>
        <!-- UI Elements -->
        <div id="chat_container">
            <div id="chatbox"></div>
            <span id='shell_char'>></span><input type="text" id="input">
        </div>
        <!-- Javascript References -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script src='./js/util.js'></script>
        <script src='./js/main.js'></script>
        <div id="controls">
            <button onclick="change_username()">Change Username</button>
            <button>Create Character</button>
            <br><br>
            
            <span id="character_name"></span><br>
            <span id="character_hp"></span><br>
            <span id="character_str"></span><br>
            <span id="character_dex"></span><br>
            <span id="character_cha"></span><br>
            <span id="character_wis"></span><br>
            <span id="character_int"></span><br>
            <span id="character_con"></span><br>
        </div>
        <div id='modal'>
            Server is offline... Something seems to have gone wrong. Try reloading the page?
        </div>
    </body>
</html>