<html>
    <head>
        <title>MUD.js - Home</title>
        
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/inventory.css">
        <link rel="stylesheet" href="./css/chat.css">

        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.ico">
    </head>
    <body>
        <!-- UI Elements -->
        <div id="chat_container">
            <div id="chatbox"></div>
            <span id='shell_char'>></span><input type="text" id="input">
        </div>
        <!-- Javascript References -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
        <script src='./js/util.js'></script>
        <script src='./js/main.js'></script>
        <div id="controls">
            <button onclick="change_username()">Change Username</button>
            <button>Create Character</button>
            <button onclick="location.href+='man';">Docs</button>
            <br><br>
            <div id="character_stats">
                <div class="block_title" id="character_name"></div>
                <div class="bar_bg">
                    <div class="bar" id="character_hp"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_str"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_dex"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_cha"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_wis"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_int"></div><br>
                </div>
                <div class="bar_bg">
                    <div class="bar" id="character_con"></div><br>
                </div>
            </div>
            <div id="character_inventory">
                <div class="block_title">INVENTORY</div>
                <div id="items_container"></div>
            </div>
            <div id="character_map">
                <div class="block_title" style="margin-left: 0px; margin-top:-20px;">MAP</div>
                <div id="map_container">
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    <span>#</span>
                    
                </div>
            </div>
        
        <div id='modal'>
            Server is offline... Something seems to have gone wrong. Try reloading the page?
        </div>
    </body>
</html>