<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MUD.js - TOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            *{
                font-family: 'Courier New', Courier, monospace;
            }
            li{
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>MUD.js Terms of Service</h1>
        <ol>
            <li>Don't be a party pooper: Have fun and be respectful of other players. No hogging the virtual pizza or using mean words.</li>
            <li>Keep it clean: No inappropriate language or behavior, or we'll give you a timeout.</li>
            <li>No cheats allowed: Using cheats, hacks, or any other unfair advantage is strictly prohibited. You'll get the virtual equivalent of a wedgie if you're caught.</li>
            <li>Don't be a superhero: The game's balance is delicate. Don't try to bend the rules or exploit loopholes.</li>
             <li>No spamming: Don't spam other players with nonsense messages, or we'll mute your virtual microphone.</li>
            <li>Timeouts are serious business: If you violate any of these rules, you may be temporarily banned from the game. Repeat offenders may get a permanent ban.</li>
            <li>We reserve the right to make changes: The rules may change, so check back often. And don't worry, we'll give you a virtual high-five if the changes are for the better.</li>
            <li>Have fun: That's what it's all about! Play nicely, and we'll all have a blast.</li>
        </ol>
    </body>
</html>