/* CHAT AND MAIN OUTPUT */
#chat_container{
    width: 50vw;
    height: 100vh;
    background-color: black;
}    
#chatbox{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: bottom;
    overflow-y: scroll;
    width: 50vw;
    position: absolute;
    bottom: 30px;
    top:0px;
}
#shell_char{
    height: 30px;
    width: 50vw;    
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    bottom: -5px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}
#input{
    background: none;  
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
#input:focus{
    background:none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#prompt{
    color: green;
    padding-left: 1px;
    font-weight: 900;
}