/* CHARACTER INVENTORY */
#character_inventory{
    width: 512px;
    border: 1px solid white;
    margin: 20px;
    margin-top: 30px;
    padding: 10px;
    display: none;
}
#character_inventory .block_title{
    margin-top: -30px;
    margin-left: -10px;
}
#items_container{
    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 0px;
}
.inv_slot{
    width: 64px;
    height: 64px;
    text-align: center;
    background-image: url('../sprites/inv_slot.png');
    background-size: cover;
    position: relative;

}
.inv_img{
    height: 48px;
    width: 48px;
    margin-top: 8px;
    transition-duration: 50ms;
    cursor: pointer;
}
.inv_tooltip{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 0px;
    left: 64px;
    z-index: 10;
    padding: 10px;
    width: auto;
    white-space: nowrap;
    border: 1px solid white;
    display: none;
    color: black;
    text-align: left;
}
.inv_slot:hover .inv_img{
    margin-top:4px;
    height:56px;
    width: 56px;
    transition-duration: 50ms;
}
.inv_slot:hover .inv_tooltip{
    display: block;
}
.inv_slot .inv_quantity{
    float: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: bold;
}
