/* MAP */
#coord{
    float: right;
    margin-top: -20px;
}
#character_map{
    border: 1px solid var(--neutral);
    margin: 20px;
    margin-top: 30px;
    width: 320px;
    height: 320px;
    
    text-align: center;
    display: none;
}
#map_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    font-size: 0px;
    grid-column-gap: 0px;
    line-height: 21.4px;
    background-color: rgba(0,0,0,0.2);
}
#map_container span{
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}
.map-self{
    color: var(--accent);
}
.map-tile-wall{
    color:var(--primary);
}
.map-tile-door{
    color:var(--secondary);
}
.map-bg{
    font-family: 'Courier New', Courier, monospace;
}