/* NAVIGATION AND LINKS */
#nav{
    margin-left: 20px;
    margin-top: 10px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255,255,255,0);
    color: var(--primary);
    border: 1px dotted var(--secondary);
    padding: 5px;
    cursor: pointer;
}
button:hover{
    background-color: var(--neutral);
}