/* CHARACTER STATS */
#character_stats{
    padding: 10px;
    max-width: 512px;
    border: 1px solid white;
    margin: 20px;
    margin-top: 30px;
    white-space: nowrap;
    display: none;
}
.bar_bg{
    background-color: rgba(255,255,255,0.5);
    border-radius: 2px;
    margin-top: 5px;
    padding: 2px;
}
.bar{
    display:inline-block;
    border-radius: 3px;
    padding: 2px;
    color: black;
}
.stat{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
.stat-spacer{
    display: inline-block;
    width: 20px;
}