:root {
    --primary: #e1e1e1;
    --secondary: #494949;  
    --neutral: #2f3136;
    --background: #1c1c1c;
    --accent: #24b21f; 

    --info: #3ABFF8;       
    --success: #3aff65;       
    --warning: #FBBD23;       
    --error: #ff2828;
}
/* var(--base-100: #1c1c1c) */