:root {
    --primary: #e1e1e1;
    --secondary: #233c69;
    --accent: #1FB2A6;       
    --neutral: #2f3136;
    --base-100: #1c1c1c;
    --info: #3ABFF8;       
    --success: #3aff65;       
    --warning: #FBBD23;       
    --error: #ff2828;
}